@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<section class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</section>
<div class="d-flex justify-content-center">
<div style="width: 30vw;margin: 40px;">
<h4>Din bruger er bekræftet</h4></div></div>