
<section class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Kontakt os</h2>
                
            </div>
        </div>
    </div>
</section>

<!--Start Contact Us-->
<section class="contact-us" id="contact">
    <div class="container">
        <div class="row">

            <div class="contact-details col-md-6 ">
                <h3>Kontakt Formular</h3>

				@{Layout = "_Layout";}

				<section class="single-page-header">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h2>Kontakt os</h2>
								
							</div>
						</div>
					</div>
				</section>

				 <!--Start Contact Us -->		
				<section class="contact-us" id="contact">
					<div class="container">
						<div class="row">
			
			
							<!-- Contact Details -->
							<div class="contact-details col-md-12 " >
								<h3>Kontakt Information</h3>
								<p>Ved spørgsmål kan vi kontaktes enten via kontaktformularen på siden, eller via mail/telefon som ses herunder.</p>
								<ul class="contact-short-info">
									<li>
										<i class="tf-ion-android-home"></i>
										<span>Adresse: University College Lillebælt, Seebladsgade 1, 5000 Odense</span>
									</li>
									<li>
										<i class="tf-ion-android-phone-portrait"></i>
										<span>Telefon: +45 12 34 56 78</span>
									</li>
									<li>
										<i class="tf-ion-android-mail"></i>
										<span>Email: Surfsup@mail.com</span>
									</li>
								</ul>

							</div>
							<!-- / End Contact Details -->
           

						</div> <!-- end row -->
					</div> <!-- end container -->
				</section> <!-- end section -->

				<!-- Footer Social Links -->
				<div class="social-icon">
					<ul>
						<li><a href="#!"><i class="tf-ion-social-facebook"></i></a></li>
						<li><a href="#!"><i class="tf-ion-social-twitter"></i></a></li>
						<li><a href="#!"><i class="tf-ion-social-dribbble-outline"></i></a></li>
						<li><a href="#!"><i class="tf-ion-social-linkedin-outline"></i></a></li>
					</ul>
				</div>
				<!--/. End Footer Social Links -->
			</div>
			<!-- / End Contact Details -->
				
			<!-- Contact Form -->
			<div class="contact-form col-md-6 " >
				<form id="contact-form" method="post" role="form">
					<div class="form-group">
						<input type="text" placeholder="Dit navn" class="form-control" name="name" id="name">
					</div>
					
					<div class="form-group">
						<input type="email" placeholder="Din Email" class="form-control" name="email" id="email">
					</div>
					
					<div class="form-group">
						<input type="text" placeholder="Emne" class="form-control" name="subject" id="subject">
					</div>
					
					<div class="form-group">
						<textarea rows="6" placeholder="Besked" class="form-control" name="message" id="message"></textarea>	
					</div>
					
					<div id="success" class="success">
						Thank you. The Mailman is on His Way :)
					</div>
					
					<div id="error" class="error">
						Sorry, don't know what happened. Try later :(
					</div>
					<div id="cf-submit">
						<input type="submit" id="contact-submit" class="btn btn-transparent" value="Send">
					</div>						
					
				</form>
			</div>
			<!-- ./End Contact Form -->
		
		</div> <!-- end row -->
	</div> <!-- end container -->
</section> <!-- end section -->
