@model SurfsUpIdentity.Models.User

<section class="single-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Lejer Information</h2>
            </div>
        </div>
    </div>
</section>

<div>

    <h4>Lender Name: @Model.FirstName @Model.LastName</h4>
    <h4>Lender Tlf: @Model.PhoneNumber</h4>
    <h4>Lender Email: @Model.Email</h4>

</div>
